<div id="header" class="navbar">
  <div class="container">
    <div fxHide.xs class="navbar-layout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <a [href]="'#'+item.sectionId" class="navItem" [ngClass]="{'active': item.active}"
        *ngFor="let item of navigation">
        {{item.label | translate}}
      </a>
    </div>
    <div fxHide fxShow.xs class="navbar-layout" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
      <button (click)="onToogleMenu()" mat-icon-button>
        <mat-icon>menu
        </mat-icon>

      </button>

    </div>
  </div>
</div>

<div #menu class="menu-poput">
  <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="gappx">
    <button (click)="onToogleMenu()" mat-icon-button>
      <mat-icon>clear
      </mat-icon>
    </button>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" style="row-gap: 2rem;">
    <a (click)="this.onToogleMenu()" [href]="'#'+item.sectionId" class="navItem" style="padding: 8px;" [ngClass]="{'active': item.active}" *ngFor="let item of navigation">
      {{item.label | translate}}
    </a>
  </div>

</div>
