.mat-form-field {
  font-size: 12.5px !important;
}

.remove-material-form-padding-bottom {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.mat-dialog-container {
  border-radius: 16px !important;
}

.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 8px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 8px 0 0 8px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px 8px 8px 0 !important;
}

// .mat-form-field-appearance-outline .mat-form-field-outline-gap {
//   border-width: 2px !important;
// }

.mat-tab-label-active {
  opacity: 1 !important;
}

.mat-autocomplete-panel {
  max-height: 330px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important
}
