<div class="main-header">

  <div class="container">

    <div class="main-resume" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img fxHide.lt-sm src="../../../../assets/images/img_avatar.png" />
      <img class="imgXs" fxHide fxShow.lt-sm src="../../../../assets/images/img_avatar.png" />

      <section fxFlex class="info">
        <p class="name">
          {{hello?.name }}
          {{hello?.lastName }}
        </p>

        <p class="occupation">
          {{hello?.occupation |translate }}
        </p>

        <br>
        <ul class="contact-info">
          <li>
            <span class="item">{{'age'}}:</span>
            <span class="value">{{hello?.age}}</span>
          </li>
          <li>
            <span class="item">{{'phone'}}:</span>
            <a [href]="'tel:'+hello?.phone" class="value">{{hello?.phone}}</a>
          </li>
          <li>
            <span class="item">{{'email'}}:</span>
            <a [href]="'mailto:'+hello?.email" class="value">{{hello?.email}}</a>

          </li>
          <li>
            <span class="item">{{'address'}}:</span>
            <span class="value">{{hello?.address}}</span>
          </li>

        </ul>

        <br>
        <p class="social">
          <a *ngFor="let social of hello?.socials" [href]="social.url" target="_blank"><i
              [class]="social.class"></i></a>
        </p>

      </section>

    </div>
  </div>

  <br fxHide.xs><br fxHide.xs>
  <div class="sec-padding container">

    <h1 writeLetter time="150" class="title">
      {{'Hi'|translate}}
    </h1>
    <div class="innerHtml" style="max-width: 58rem;" [innerHTML]="hello?.resumeText | safeHtml |translate">

    </div>
    <br>
    <a href="../../../../assets/archives/cv-jalejandro.pdf" download
      style="padding: 6px 16px !important;border-radius: 24px !important;" mat-raised-button color="primary">
      <mat-icon class="mat-18">download</mat-icon>
      {{'Download CV'|translate}}
    </a>

  </div>
  <hr>

</div>
