<div class="main-header">

  <div class="container">

    <div class="main-resume" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img fxHide.lt-sm src="../../../../assets/images/img_avatar.png" />
      <img class="imgXs" fxHide fxShow.lt-sm src="../../../../assets/images/img_avatar.png" />

      <section fxFlex class="info">
        <p class="name">
          {{resume?.name }}
          {{resume?.lastName }}
        </p>

      </section>

    </div>

  </div>

</div>
