<section id="home" class="main-header">

  <div class="container">

    <div class="main-resume" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img fxHide.lt-sm src="assets/images/img_avatar.jpg" />
      <img class="imgXs" fxHide fxShow.lt-sm src="assets/images/img_avatar.jpg" />

      <section fxFlex class="info">
        <p class="name">
          {{about?.name }}
          {{about?.lastName }}_
        </p>

        <p class="occupation">
          {{about?.occupation |translate }}
        </p>

        <br>
        <ul class="contact-info">
          <li>
            <span class="item">{{'age'|translate}}:</span>
            <span class="value">{{about?.age}}</span>
          </li>
          <li>
            <span class="item">{{'phone'|translate}}:</span>
            <a [href]="'tel:'+about?.phone" class="value">{{about?.phone}}</a>
          </li>
          <li>
            <span class="item">{{'email'|translate}}:</span>
            <a [href]="'mailto:'+about?.email" class="value">{{about?.email}}</a>

          </li>
          <li>
            <span class="item">{{'address'|translate}}:</span>
            <span class="value">{{about?.address}}</span>
          </li>

        </ul>

        <br>
        <p class="social">
          <a *ngFor="let social of about?.socials" [href]="social.url" target="_blank"><i
              [class]="social.class"></i></a>
        </p>

      </section>

    </div>
  </div>
</section>


<section class="sec-padding container">
  <h1 writeLetter time="120" class="title">
    {{'About me_'}}
  </h1>
  <div class="innerHtml" style="max-width: 58rem;" [innerHTML]="about?.resumeText | safeHtml |translate">

  </div>
  <br>
  <a href="../../../../assets/archives/cv-jalejandro.pdf" download
    style="padding: 6px 16px !important;border-radius: 24px !important;" mat-raised-button color="primary">
    <mat-icon class="mat-18">download</mat-icon>
    {{'Download CV'|translate}}
  </a>
</section>
