.main-header {
  background-color: #1565c0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
  min-height: 480px;
  font-family: 'Roboto Mono', monospace;

  @media(max-width:599px) {
    margin-bottom: 0px;
  }
}

.main-header * {
  z-index: 1;
}

.main-header:before {
  // background: linear-gradient(54deg, #1565c0 34%, hsla(0, 34%, 71%, .95));
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 0;
}

.main-resume {
  padding: 30px 0px;
  column-gap: 4rem;
  row-gap: 1rem;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  // overflow-x: hidden;
  max-width: 100%;

  img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96, 96, 96, .34);
    height: 304px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 94px;
    width: 314px;
    animation-name: fliterBlur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

  }

  .info {
    margin-top: 64px;

    .name {
      font-size: 32px;
      line-height: 50px;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 10px
    }

    .occupation {
      font-size: 16px;
    }

    .contact-info {
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      li {
        padding: 8px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .item {
        text-transform: uppercase;
        flex: 1 1 100px;
        max-width: 100px;
        font-weight: 800;
        opacity: .6;
        font-size: 16px;
      }

      .value {
        font-size: 16px;
        text-decoration: none;
        color: inherit;
        flex: 1 1;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .social {
      a {
        font-size: 24px;
        margin-right: 15px;
        opacity: .4;
        color: #fff;

      }
    }

    animation: fideIn 2s linear 1 forwards;

  }

  @media(max-width:800px) {
    img {
      border-radius: 5px;
      box-shadow: 0 0 27px rgba(96, 96, 96, .34);
      height: 240px;
      width: 214px;
    }

    .info {
      .name {
        font-size: 32px;
        line-height: normal;
        font-weight: 700;
        margin-top: 13px;
        margin-bottom: 10px;
      }
    }

  }

  @media(max-width:599px) {
    .imgXs {
      top: 70px;
      right: 0px;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .info {
      margin-top: 40px;

      .name {
        font-size: 26px;
        line-height: normal;
        font-weight: 700;
        margin-top: 13px;
        margin-bottom: 10px;
      }
    }
  }
}

@keyframes fliterBlur {
  0% {
    transform: scale(.2);
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes fideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
