#contact {
  color: white;
  min-height: 480px;
  background-color: #1565c0;
}

.contact-info {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  li {
    padding: 8px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .item {
    text-transform: uppercase;
    flex: 1 1 100px;
    max-width: 100px;
    font-weight: 800;
    opacity: .8;
    font-size: 16px;
  }

  .value {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    flex: 1 1;

    &:hover {
      text-decoration: underline;
    }
  }

}

.tech {
  padding: 32px 0px;

  img {
    object-fit: cover;
    height: 60px;
    // width: 60px;
    margin: 16px;
    transform:translateY(0px);
    transition: transform .5s ease;

    &:hover {
      transform: translateY(-10px);
      transition: transform .5s ease;
    }
  }

}
